<header>
    <div class="header-content">
        <div class="header-left">
            <div class="logo">{{ str_site_title }}</div>
            <div class="tagline">{{ str_site_tagline }}</div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/-/search">Search All</a></li>
                <li><a href="/how-to-use">How to Use</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>
